/* custom font */
@font-face {
  font-family: "CooperLight";
  src: url("~@/assets/fonts/CooperLightBT.ttf");
}

@font-face {
  font-family: "NeueHaas";
  src: url("~@/assets/fonts/NeueHaasUnicaPro-Regular.ttf");
}
/* variables */
:root {
  --primary: #00122c;
  --secondary: #f98125;
  --third: #fb9b50;
  --quad: #2c599d;
  --warning: #da0f41;
}

body {
  background-color: #fffef6;
}

.white {
  color: white;
}

.primary {
  color: #11224d;
}

.secondary {
  color: #f98125;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "NeueHaas";
  color: var(--primary);
}

a {
  text-decoration: none;
}

p {
  font-family: "NeueHaas";
  color: var(--primary);
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  font-family: "CooperLight";
  line-height: 150%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

.cooper {
  font-family: "CooperLight";
}

.neue-haas {
  font-family: "NeueHaas";
}

.chip {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--primary);
  border-radius: 30px;
  margin-bottom: 16px;
  transition: all ease 0.2s;
}

button,
.btn-outline {
  border: 1px var(--primary) solid;
  color: var(--primary);
  padding: 12px 18px;
  cursor: pointer;
  display: inline-block;
}

.btn-full {
  background: var(--primary);
  color: white;
  padding: 12px 18px;
  cursor: pointer;
  display: inline-block;
}

button:hover,
.btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  background: rgb(248, 248, 248);
}

input,
textarea {
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  color: antiquewhite;
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 0 20px;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.3rem;
  }
}
